.loginForm {
  width: 80%;
  margin: auto;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80vh;
  .loginForm-left {
    flex: 1;
    h2 {
      font-size: 3em;
    }
  }
  .loginForm-right {
    flex: 1;
    .right-card {
      width: 100%;
      height: 400px;
      background-color: #145d45;
      margin: auto;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .right-card__inputLogin {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        input {
          width: 350px;
          height: 40px;
          margin: 10px;
          border-radius: 5px;
          border: none;
          padding-left: 10px;
          outline: none;
        }
      }
      .right-card__submitLogin {
        display: flex;
        flex-direction: column;
        margin-top: -60px;
        input {
          width: 350px;
          height: 40px;
          margin: 10px;
          border-radius: 5px;
          border: none;
          outline: none;
          cursor: pointer;
        }

        input.darkSubmit {
          background-color: #000;
          color: #fff;
        }

        input.transparantSubmit {
          background: none;
          border: 1px solid #000;
          color: #fff;
        }
      }
    }
  }
}
