@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.link {
  display: block;
}

textarea:focus,
input:focus {
  outline: none;
}

.container {
  font-family: "Poppins", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .right-container {
  width: 100%;
  height: 100vh;
  background-image: url("../../img/bg-form.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .right-container .Tanaman-form {
  height: 406px;
  padding: 0px 60px;
  border-radius: 15px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .right-container .Tanaman-form h2 {
  font-size: 36px;
  color: #38ac91;
  font-weight: bold;
  text-align: center;
}

.container .right-container .Tanaman-form .input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .right-container .Tanaman-form .input-form label {
  font-size: 30px;
  color: #000000;
}

.container .right-container .Tanaman-form .input-form .input {
  width: 330px;
  height: 35px;
  font-size: medium;
  border-radius: 5px;
  padding-left: 10px;
  border: solid 1.5px #d3d3d3;
  -webkit-transition: 1s;
  /* Safari */
  transition: 1s;
}

.container .right-container .Tanaman-form .input-form .input:focus {
  -webkit-box-shadow: 0 0 5pt 2pt #d3d3d3;
          box-shadow: 0 0 5pt 2pt #d3d3d3;
  outline-width: 0px;
}

.container .right-container .Tanaman-form .input-form .input:hover {
  -webkit-box-shadow: 0 0 5pt 0.5pt #d3d3d3;
          box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}

.container .right-container .Tanaman-form .btn-join {
  width: 330px;
  padding: 5px 0px;
  border-radius: 5px;
  margin-top: 40px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-color: #38ac91;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.container .right-container .Tanaman-form .btn-join2 {
  width: 330px;
  padding: 5px 0px;
  margin-bottom: 40px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #38ac91;
  font-weight: bold;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.container .right-container .Tanaman-form .btn-join:hover {
  background-color: #145d45;
  -webkit-box-shadow: 0px 2px 2px #92d6bf;
          box-shadow: 0px 2px 2px #92d6bf;
  -webkit-transform: translateZ(5px);
          transform: translateZ(5px);
}
.container .right-container .Tanaman-form .btn-join2:hover {
  background-color: #145d45;
  -webkit-box-shadow: 0px 2px 2px #92d6bf;
          box-shadow: 0px 2px 2px #92d6bf;
  -webkit-transform: translateZ(5px);
          transform: translateZ(5px);
}
/*# sourceMappingURL=login.css.map */