.daily-home-container {
  width: 80%;
  margin: 50px auto;

  .daily-home-cards-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .daily-home-cards {
    width: 100%;
    .table-plant {
      display: flex;
      flex-direction: column;
      .table-head,
      .table-content {
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        .btn-pantau {
          padding: 5px 20px;
        }
      }
    }
  }
}
