.video-home-container {
  width: 80%;
  margin: auto;
  .video-home-cards-title {
    font-size: 24px;
  }
  .video-home-cards {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 0px;
  }
}
