.tambah-tanaman-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.tambah-tanaman-card {
  background: rgba(41, 255, 198, 0.55);
  border-radius: 15px;
  width: 50%;
  height: 300px;
  margin: 0px auto;
  justify-self: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.tambah-tanaman-form {
  flex: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.input-form-tambah-tanaman {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.btn-tambah-tanaman {
  width: 100px;
  background: #145d45;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  padding: 7px 0px;
  margin-top: 20px;
  align-self: flex-end;
}

.btn-tambah-tanaman:focus {
  outline: none;
}

.label-tambah-tanaman {
  font-size: 20px;
  font-weight: 700;
}

.input-tambah-tanaman {
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 10px;
  outline: none;
  background: transparent;
}
