.btn-pantau-1 {
  width: 100px;
  padding: 5px 20px;
  background: #009879;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  margin-right: 10px;
}

.btn-pantau-2 {
  text-decoration: none;
  color: white;
}

.list-tanamanku {
  font-weight: 500;
  color: #000;
}

.tanamanku-top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
