.footer {
  width: 75%;
  height: 10vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .footer-left {
    flex: 1;
    .footer-left__copyright {
      padding-left: 50px;
    }
  }
  .footer-right {
    flex: 1;
    .footer-right__privacyTerms {
      text-align: center;
    }
  }
}
