.card-article {
  width: 360px;
  height: 265px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;

  .card-article-image {
    border-radius: 10px;
  }

  .card-article-title {
    font-size: 16px;
  }

  .card-article-date {
    font-size: 14px;
    color: #86888a;
  }
}

.card-article:hover {
  .card-article-title {
    text-decoration: underline;
    color: rgba($color: rgb(67, 65, 196), $alpha: 1);
  }

  .card-article-date {
    color: #000000;
  }
}
