.navbar {
  background-color: #eaeaea;
  width: 75%;
  margin: auto;
  .navbar-title {
    text-align: start;
    color: #000000;
    padding: 20px 0px;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
}
